<div class="container">
    <h1 class="text-success" style="text-align: center;">Product List</h1>

    <table class="table table-bordered table-hover">

        <thead>
            <tr>
                <th>Product id</th>
                <th>Product name</th>
                <th>product price</th>
                <th>product manufacturing date</th>
                <th>product status</th>
                <th>product quantity</th>
                <th>Manufacturing department name</th>
            
            </tr>
        </thead>
    </table>
</div>