<div class="container">
    <h1 class="text-success" style="text-align: center;">Employee List</h1>
    <table class="table table-bordered table-hover" >
        <thead>
            <tr>
                <th>Employee id</th>
                <th>Employee name</th>
                <th>Employee joining Date</th>
                <th>Employee father name</th>
                <th>Employee department id</th>
                <th>Employee salary</th>
                <th>Employee marital status</th>
                <th>Employee address</th>
                <th>Employee PostName</th>
            </tr>
        </thead>
    </table>
</div>
