<div class="container">
    <h1 class="text-warning" style="text-align: center;">Attendence Sheet</h1>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Employee id</th>
                <th>Department id</th>
                <th>Employee name</th>
                <th>Employee PostName</th>
                <th>Department nme</th>
                <th>present date</th>
                <th>Absent date</th>
                <th>total Absent</th>
                <th>Employee status</th>
                
            </tr>
        </thead>
    </table>
</div>
