<div class="container">
    <h1 class="text-success" style="text-align: center;">Quality Control Information </h1>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Qc date</th>
                <th>Order Id</th>
                <th>Product Id</th>
                <th>Batch Id</th>
                <th>Quantity Inspected</th>
                <th>Quantity Passed</th>
                <th>Quantity Failed</th>
                <th>Defect Types</th>
                <th>Inspector Name</th>
                <th>Remarks</th>
            </tr>
        </thead>
    </table>
</div>
