<div class="container">
    <h1 class="text-warning" style="text-align: center ;">ParRoll Information</h1>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Employee Information</th>    <!-- this will be the textarea-->
                <th>Attendence</th>           <!-- this is will be the  textarea-->
                <th>Overtime</th>
                <th>Basic Salary</th>
                <th>Bonuses</th>
                <th>Deduction</th>      <!-- this is means fines or penalty -->
                <th>NetPay</th>        <!-- this is the salary thast is given to the Employee -->
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>

</div>